.food {
    width: 100%;
    height: 100vh;
}

.home .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
}

@media screen and (max-width:740px) {
    .home.container {
        grid-template-columns: 1fr;
    }
    
}










